doctype html
html
    head
        title Films
        link(rel="stylesheet", href="/css/style.css")
    body 
        header
            h1 Movie Genie
        main
            block content
        footer.footer
            p © #{new Date().getFullYear()} My Movie App. All rights reserved.
    